{% extends 'base.html' %} {% load static %} {% block title%}Signup{% endblock %}
{% block stylesheets%}
<link rel="stylesheet" href="{% static 'styles/pages/signup.css' %}" />
{% endblock %} {% block body %}

<div class="container">

  <a class="home-link" href="/">
    <img class="left-angle" src="{% static 'images/icons/left-angle.png' %}">
  </a>  

  <form action="{% url 'account:signup' %}" method="post" class="form">
    <h2>Create an Account</h2>
    {% csrf_token %}
    <div class="field-container"> <div class="icon-container"><img src="{% static 'images/icons/user-account.png' %}"></div>{{form.username}}</div>
    <div class="field-container"> <div class="icon-container"><img style="width: 1.5rem; height: 80%;" src="{% static 'images/icons/mail.png' %}"></div> {{form.email}}</div>
    <div class="field-container"> <div class="icon-container"><img style="height: 60%;" src="{% static 'images/icons/lock.png' %}"></div> {{form.password1}}</div>
    <div class="field-container"> <div class="icon-container"><img style="height: 60%;" src="{% static 'images/icons/lock.png' %}"></div> {{form.password2}}</div>

    <div class="show-password-container">
      <label for="checkbox" style="cursor: pointer;">Show password</label><input id="checkbox" type="checkbox">
    </div>

    {% if form.errors or form.non_field_errors %}
    <div class="error-container">
      {% for field in form %} {{field.errors}} {% endfor %}
      {{form.non_field_errors}}
    </div>
    {% endif %}

    <input type="submit" value="Sign up" class="signup button-primary" />

    <p class="login-link">
      Already have an account?
      <a href="{% url 'account:login' %}" class="login link-primary">Log in</a>
    </p>
  </form>
</div>

<script src="{% static 'scripts/signup.js' %}" type="module"></script>

{% endblock %}
